.donationPage .donationTitle {
  margin: 56px auto;
}

.donationPage .donationArticle img {
  vertical-align: top;

  width: 587px;
  height: 508px;
  object-fit: cover;
  object-position: 100% -260px;
}

.donationPage .donationArticle .article {
  display: inline-block;
  vertical-align: top;
  margin: 21px;

  width: 500px;
  text-align: left;
  font-size: var(--text-article);
}

.donationPage .donationFormArea {
  width: 984px;
  height: 631px;

  margin: 112px auto;
}

.donationPage .donationFormArea > * {
  margin: 0 auto;
}

.donationPage .donationFormArea .donationForm div {
  margin-top: 63px;
}
.donationPage .donationFormArea .donationForm label {
  width: 295px;
  text-align: left;

  font-size: var(--text-content-title);
}

.donationPage .donationFormArea .donationForm input {
  padding: 5px 0 5px 10px;

  border-radius: 5px;
  border: 1px solid var(--color-text-green);
}

.donationPage .donationFormArea .donationForm input::placeholder {
  color: var(--color-text-green);
}
