/* Set up type and colour */
:root {
    /* font size */
    --text-title-desktop: 64px;
    --text-subheading-desktop: 40px;
    --text-content-title: 24px;
    --text-content: 20px;
    --text-article: 18px;
    --text-nav: 15px;
    --text-tips: 12px;

    /* Fonts */
    --font-family-body:'Rubik Dirt', cursive;;

    /* Background Colours */
    --color-background-: #F4F3EE;
    --color-background-header: #FFFFFF;
    --color-background-footer: #90A955;

    /* Font Colours */
    --color-text-white: #ffffff;
    --color-text-dark: #132A13;
    --color-text-green: #90A955;
    --color-text-blank:#000000,0.4;
}

/****************** font css style ************************/
h1{font-size: var(--text-title-desktop);
    text-align: center;
    padding-top: 5%;}

h2{font-size: var(--text-subheading-desktop);}

h3{font-size: var(--text-content-title);}
/****************** style ************************/

/******************** container *****************************/


/****************** body css style ************************/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

.initial-img{
    background-image:url(images/homepage_cat.jpg);
    background-repeat:no-repeat;
    height:950px;
}

.container-fluid{
    width:100%;
    padding-top:10%;
    padding-left:10%;
    padding-right:10%;
    padding-bottom: 5%;
}

.container-sm{
    display: flex;
    align-items: stretch;

}

.card{
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:  rgba(241, 242, 245, 0.7);;
}



body{
    background-color: var(--color-background-);
}

footer{
    background-color:var(--color-background-footer);
}
