body {
  /* font-size: var(--text-nav); */
  font-family: var(--font-family-body);
  background-color: var(--color-background-body);
}

.userProfile {
  text-align: left;
}
/* Banner */
.banner {
  height: 255px;
  width: 100%;
  background-color: var(--color-background-footer);
  color: var(--color-background-body);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: static;
}

/* SideNavBar */
.sideNav {
  position: absolute;

  width: 357px;
  height: 999px;
  top: 126px;
  left: 171px;
  border: 2px solid var(--color-background-footer);
  padding-top: 84px;
  border-radius: 250px 250px 30px 30px;

  z-index: 2;

  background-color: var(--color-background-body);
}

.sideNav .avatar {
  display: block;

  width: 128px;

  margin-left: auto;
  margin-right: auto;
}
.sideNav .name {
  font-size: var(--text-content-title);
  text-align: center;
}
.sideNav .location {
  font-size: var(--text-nav);
  text-align: center;
}

.sideNav .functions {
  padding: 0;
  margin-top: 22px;
}
.sideNav .functions li {
  list-style: none;
  font-size: var(--text-content-title);
  height: 60px;
  line-height: 60px;

  margin: 0 28px;

  border-bottom: 3px solid var(--color-text-green);
}

.sideNav .functions li a {
  display: inline-block;

  width: 100%;
  padding-left: 32px;

  color: black;
  text-decoration: none;
}

.sideNav .functions li a:hover {
  background-color: #ccd6b1;
  border-bottom: 3px solid var(--color-text-green);
}

/** SideNavBar --Overview --navbar **/
.overviewNav {
  display: flex;
  height: 92px;
  width: 800px;
  justify-content: space-between;
  align-items: center;

  padding: 0 100px;

  position: absolute;
  top: 310px;
  left: 528px;

  font-size: 20px;
}

.overviewNav a:link,
.overviewNav a:visited {
  text-decoration: none;
  color: black;
}

.overviewNav a:hover {
  text-decoration: underline;
}

/** SideNavBar --Overview --Adoption history **/
.adoptedPet {
  height: 232px;
  width: 346px;
  background-image: url('../../images/default_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 411px;
  left: 528px;
  margin-left: 80px;

  border-radius: 20px;
}

.myPetBtm {
  background-color: transparent;
  width: 130px;
  height: 40px;
  border: 1px solid var(--color-text-green);
  border-radius: 8px;

  margin: 164px auto;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.myPetBtm > a:link,
.myPetBtm > a:visited {
  text-decoration: none;
  color: var(--color-text-green);
}

.myPetBtm > a:hover {
  text-decoration: underline;
}

/** SideNavBar --Overview --Donation history **/
.donationHistory {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 411px;
  left: 528px;
  width: 800px;
}

.donationDetail {
  color: var(--color-text-green);
  background-color: var(--color-background-header);
  box-shadow: 0px 6px 6px -6px black;

  padding: 25px 21px;
  margin: 0 79px 29px;

  border: 2px dotted var(--color-text-green);
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
}

.donation {
  display: flex;
}

.donationDetail .donationTitle {
  margin-right: 15px;
}

/** SideNavBar --Overview --Volunteer **/
.volunteer {
  text-align: left;

  position: absolute;
  top: 411px;
  left: 528px;
  width: 800px;
}
.volunteer .requirement {
  margin: 0 54px 25px;
}
.volunteer .requirement .requirementDetails {
  list-style: none;
  padding: 0;
}
.volunteer .requirement .requirementDetails li {
  margin-bottom: 16px;
}

.volunteer .applyForm {
  margin-top: 75px;
}

.volunteer .applyForm .formTitle {
  margin-left: 60px;
}

.volunteer .applyForm input[type='textarea'] {
  width: 88%;
  height: 171px;
  margin: 9px 60px 30px;

  box-sizing: border-box;
  border: none;
}

.profileBtm {
  background-color: var(--color-background-footer);
  width: 239px;
  height: 40px;
  border: 2px none var(--color-text-green);
  border-radius: 8px;
  box-shadow: 0px 8px 8px -8px black;

  font-size: var(--text-article);
  color: white;
}

/** SideNavBar --Persional Info **/
.userInfor {
  position: absolute;
  top: 200px;
  left: 355px;
  width: 790px;

  margin-left: 84px;
  margin-top: 69px;
}

.userInfor label {
  text-align: center;
  width: 132px;
}

.userInfor input,
.userInfor textarea {
  padding: 5px 0 5px 10px;
  border-radius: 5px;
  border: none;
}

.userInfor div {
  margin-bottom: 38px;
}

.userInfor .shortBox {
  width: 122px;
  margin-right: 102px;
}

.userInfor .middleBox {
  width: 223px;
}

.userInfor .longBox {
  width: 580px;
}

.userInfor .bio {
  display: flex;
  align-items: center;
}

.profileBtn {
  display: flex;
  justify-content: center;
}
