
:root {
    /* Background Colours */
    --color-background-: #F4F3EE;
    --color-background-header: #FFFFFF;
    --color-background-footer: #90A955;

    /* Font Colours */
    --color-text-white: #ffffff;
    --color-text-dark: #132A13;
    --color-text-green: #90A955;
    --color-text-blank:#000000,0.4;
}

/*********************** button *****************/
.btn{border-radius: 10px;}
.rbtn{padding: 0.4rem 2.5rem;}
.sbtn{   
    text-align: center;
    width: 41%; 
    margin-left: 6%;
    margin-top:5%;
}

.btn-success{
    background-color:var(--color-text-green);
    border: 1px solid #90A955;
}

.btn-outline-success {
    background-color:var(--color-background-);
    border-color: var(--color-text-green);
}

/******************* element state ****************************/

.form-control:focus {
    color: #495057;
    background-color:var(--color-background-);
    border-color: none;
    outline: 0;
}

.page-item.active .page-link {
    z-index: 3;
    color:var(--color-background-);
    background-color:var(--color-text-green);
    border-color: var(--color-text-green);
}

.btn-outline-success:hover {
    color: #fff;
    background-color: var(--color-text-green);
    border-color:var(--color-text-green);
}


