/************* Test *************/
.App {
  text-align: center;
}

/* Set up type and colour */
:root {
  /* font size */
  --text-title-desktop: 74px;
  --text-subheading-desktop: 40px;
  --text-content-title: 24px;
  --text-content: 20px;
  --text-article: 18px;
  --text-nav: 15px;
  --text-tips: 12px;

  /* Fonts */

  --font-family-body: 'Comic Sans MS', 'Rubik Dirt', cursive;
  font-family: var(--font-family-body);

  /* Background Colours */
  --color-background-body: #f4f3ee;
  --color-background-header: #ffffff;
  --color-background-footer: #90a955;

  /* Font Colours */
  --color-text-white: #ffffff;
  --color-text-dark: #132a13;
  --color-text-green: #90a955;
  --color-text-blank: #000000, 0.4;
}

/****************** font css style ************************/
.navbar-brand {
  font-style: var(--font-family-body);
}

h1 {
  font-size: var(--text-title-desktop);
  text-align: center;
  padding-top: 5%;
}

h2 {
  font-size: var(--text-subheading-desktop);
}

h3 {
  font-size: var(--text-content-title);
}

p {
  font-size: var(--text-article);
}
p2 {
  font-size: var(--text-content);
}
p3 {
  font-size: var(--text-content-title);
}

/****************** icon ************************/
.research_icon {
  width: 3%;
}

/*********************** button *****************/
.App-link {
  color: #61dafb;
}

.button {
  margin: 10px;
}

/******************* element state ****************************/

.form-control:focus {
  color: #495057;
  background-color: var(--color-background-);
  border-color: none;
  outline: 0;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: var(--color-text-green);
  border-color: var(--color-text-green);
}

/******************** container *****************************/
.row .AddPhoto {
  width: 14rem;
  height: 13rem;
  padding: 5%;
  background: rgba(255, 255, 255, 0.6);
  border: 1px dashed #90a955;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.Update {
  margin-bottom: 10%;
}

.Post {
  width: 65%;
  float: right;
  background: rgba(217, 217, 217, 0.7);
  border: 1px solid #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

.AdminTitle {
  font-size: var(--text-subheading-desktop) !important;
}

.AdminSide {
  position: absolute;

  height: 100%;
  border: 2px solid var(--color-background-footer);
  border-radius: 10px;

  background-color: var(--color-text-green);
}

.AdminSide .adminAvatar {
  display: block;

  width: 128px;

  margin-left: auto;
  margin-right: auto;
}
.AdminSide .name {
  font-size: 40px;
  text-align: center;
}
.AdminSide .location {
  font-size: var(--text-nav);
  text-align: center;
}

.AdminSide .functions {
  padding: 0;
  margin-top: 22px;
}
.AdminSide .functions li {
  list-style: none;
  font-size: var(--text-content-title);
  height: 90px;
  line-height: 90px;

  margin: 0 28px;

  border-bottom: 3px solid var(--color-text-white);
}

.AdminSide .functions li a {
  display: inline-block;

  width: 100%;
  padding-left: 32px;

  color: white;
  text-decoration: none;
}

.AdminSide .functions li a:hover {
  background-color: #ccd6b1;
  border-bottom: 3px solid var(--color-text-white);
}

.container {
  height: 100%;
  width: 80%;
  margin: 20%;
  margin-top: 10%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(241, 242, 245, 0.7);
  border-radius: 10px;
}

.login-form {
  margin-top: 20%;
  margin-bottom: 20%;
  width: 80%;
  margin-left: 20%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10%;
  text-align: center;
}

.LogoPosition {
  position: relative;
}

.Logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.smallInput {
  display: flex;
}

.login-form .inputInRow {
  width: 100%;
}

form {
  width: 90%;
  align-items: center;
}

/****************** Header/Footer css style ************************/
.Slogan {
  margin-bottom: 4.5rem;
  padding-left: 10%;
  padding-right: 10%;
  font-size: var(--text-title-desktop);
}
.AboutUs {
  margin-top: 4.5rem;
  text-align: left;
}
.Intro {
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 4.5rem;
}

header {
  background-color: var(--color-background-header);
  align-items: center;
  height: 3rem;
}
header .nav {
  --bs-nav-link-padding-x: 3rem;
  padding-left: 2%;
}
header .navbar-brand {
  font-size: 24px;
}

footer {
  background-color: var(--color-background-footer);
  height: 8rem;

  /* position: absolute;
  bottom: 0;
  width: 100%; */
}
footer .nav {
  --bs-nav-link-padding-x: 3rem;
  padding-left: 2%;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}
footer .navbar-brand {
  font-size: 24px;
}

.App body {
  background-color: var(--color-background-body);
  min-height: 100vh;
}

.row {
  padding-left: 15%;
  padding-right: 15%;
}

.NoPadding {
  padding-right: 0;
  padding-left: 0;
}

.NoPadding .row {
  margin-top: 0;
}

.row .form-select {
  width: 55%;
  vertical-align: top;
}
.row .form-control {
  width: 95%;
  vertical-align: top;
}
.row .textInput {
  width: 85%;
  vertical-align: top;
}
.row textarea.form-control {
  min-height: calc(6em + 0.75rem + 2px);
}

.row-cols-lg-auto .s1 {
  width: 30%;
}
.row-cols-lg-auto .s2 {
  width: 10%;
}

.col-lg-4 .row {
  padding: 0;
}
.col-lg-12 .row {
  padding: 0;
}

.row .col-sm-2 {
  margin-left: 8.5%;
  margin-right: 8%;
  padding-top: 2%;
  background: rgba(241, 242, 245, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#nickname {
  width: 55%;
  vertical-align: top;
}

#age {
  width: 55%;
  vertical-align: top;
}

/****************** body css style ************************/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.diffLogin {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1024px;
}

.diffLogin .form1,
.diffLogin .form2 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  width: 400px;
  height: 400px;
  margin: 0 100px;

  background-color: white;
  border-radius: 20px;
}

.diffLogin .form1 h2,
.diffLogin .form2 h2 {
  display: inline-block;
  width: 200px;
}

.functionArea {
  /* margin-left: auto;
  margin-right: 20px;
  margin-top: 5px */

  margin: 5px 40px 0px auto;
}
