/****************** User profile ************************/
.userProfile {
  font-size: var(--text-nav);
  font-family: var(--font-family-body);
  background-color: var(--color-background-body);
  text-align: left;
}

/***** SideNavBar *****/
.sideNav {
  position: relative;

  width: 357px;
  height: 999px;
  top: 62px;
  left: 171px;
  border: 2px solid var(--color-background-footer);
  padding-top: 84px;
  border-radius: 250px 250px 30px 30px;

  background-color: #f4f3ee;

  z-index: 2;
}

.sideNav .name {
  font-size: var(--text-content-title);
  margin-top: 100px;
  text-align: center;
}
.sideNav .location {
  font-size: var(--text-nav);
  text-align: center;
}

.sideNav .functions {
  padding: 0;
  margin-top: 22px;
}
.sideNav .functions li {
  list-style: none;
  font-size: var(--text-content-title);
  height: 60px;
  line-height: 60px;

  margin: 0 28px;

  border-bottom: 3px solid var(--color-text-green);
}

.sideNav .functions li a {
  display: inline-block;

  width: 100%;
  padding-left: 32px;

  color: black;
  text-decoration: none;
}

.sideNav .functions li a:hover {
  background-color: #ccd6b1;
  border-bottom: 3px solid var(--color-text-green);
}

/* SideNavBar --Overview --Donation history */
.donationDetail {
  color: var(--color-text-green);
  background-color: var(--color-background-header);
  box-shadow: 0px 6px 6px -6px black;

  padding: 25px 21px;
  margin: 0 79px 29px;

  border: 2px dotted var(--color-text-green);
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
}

.donation {
  display: flex;
}

.donationDetail .donationTitle {
  margin-right: 15px;
}

/* SideNavBar --Overview --Volunteer */
.volunteer {
  text-align: left;
}
.volunteer .requirement {
  margin: 0 54px 25px;
}
.volunteer .requirement .requirementDetails {
  list-style: none;
  padding: 0;
}
.volunteer .requirement .requirementDetails li {
  margin-bottom: 16px;
}

.volunteer .applyForm {
  margin-top: 75px;
}

.volunteer .applyForm .formTitle {
  margin-left: 60px;
}

.volunteer .applyForm input[type='textarea'] {
  width: 88%;
  height: 171px;
  margin: 9px 60px 30px;

  box-sizing: border-box;
  border: none;
}

.volunteer .applyForm input[type='submit'] {
  background-color: var(--color-background-footer);
  width: 239px;
  height: 40px;
  border: 2px none var(--color-text-green);
  border-radius: 8px;
  box-shadow: 0px 8px 8px -8px black;
  margin-left: 38%;

  font-size: var(--text-article);
  color: white;
}
